<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name='keywords' content='WebRTC, HTML5, JavaScript' />
		<meta name='description' content='WebRTC Video Conference App' />
		<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>	
		<script src='/js/home.js'></script>
		<link rel="stylesheet" type="text/css" href="css/home.css" media="screen" />
		<title>WebRTC Video Conference App Example With Multiple peers</title>
	</head>
	<body>  
        <main id="container">
			<section id="success">
				<div id="room-link"><a id="room-url" target="_blank"></a></div>
				<br>
				<div class="bubble">
					Participation link 
					<br><br>
					<span>Send this link to anyone you wish to invite. 
                    </span>
                </div>
	    	</section>
        </main>                     
	</body>
</html>
